
$bg: #E9EDF0;
$beige: #E5DDC5 !default;

// $teal: #135D66;
$teal: #77B0AA;
$mint: #9AC8CD;

$primary: $teal !default;
$secondary: $mint !default;



$card-bg-light: #fff;
$content-bg-light: #F8F9FA;